# Virtual Environment
.venv/
venv/

# Database Files
*.sqlite3
db.sqlite3

# Byte-compiled files and cache directories
__pycache__/
*.pyc
*.pyd

# Operating System files
.DS_Store
Thumbs.db

# Django/Python specific files (if generated locally)
/media/
backend/media/products/
/static/
*/*/migrations/*/__pycache__
backend/apps/*/migrations/
*/*.egg-info/

# Local IDE/Editor Files
.idea/
*.swp
*~

# AI Configurations
.continue/
AGENTS.md

TODO.md

localhost.har
